bcrypt
blinker
cffi
click
dnspython
email-validator
Flask
Flask-Admin
Flask-Bcrypt
Flask-DebugToolbar
Flask-Mail
Flask-Psycopg2
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
psycopg2
pycparser
SQLAlchemy
Werkzeug
WTForms
