{%extends "base.html"%}{%block content%}
<div class="row">
  <header class="wrapper">
    <img
      src="/static/images/pianokeys.png"
      class="img-responsive"
      alt="Responsive image"
      id="topwrapper"
    />
  </header>
  <h1>User Deleted</h1>
  <div class="opening_instructions align-content-center">
    <p><span>&#127929;</span>
      You have deleted your profile. Please register again if you deleted your profile in error.</p>
  </div>
  <nav
  class="navbar navbar-expand-lg navbar-light bg-light justify-content-center"
>
  <ul class="navbar-nav">
    <li class="navbar-item mx-5 py-1">
      <a href="/"
        ><button class="btn btn-sm btn-outline-success">Go Back</button></a
      >
    </li>
  </ul>
</nav>

  </div>
</div>
{%endblock%}
