{%extends "base.html"%}{%block content%}
<div class="row">
  <header class="wrapper">
    <img
      src="/static/images/pianokeys.png"
      class="img-responsive"
      alt="Responsive image"
      id="topwrapper"
    />
  </header>
  <h1>Page Not Found</h1>
  <div class="opening_instructions align-content-center">
    <p><span>&#127929;</span>
      You must type your username and password the same as when you registered.
    </p>
    <p><span>&#127929;</span>
      If you have forgotten your password or username, please contact your teacher with a new username and password to be set.
    </p>
    <p><span>&#127929;</span>
      You may have deleted your profile. If this is the case, please register again.
    </p>
  </div>
  <nav
  class="navbar navbar-expand-lg navbar-light bg-light justify-content-center"
>
  <ul class="navbar-nav">
    <li class="navbar-item mx-5 py-1">
      <a href="/"
        ><button class="btn btn-sm btn-outline-success">Go Back</button></a
      >
    </li>
  </ul>
</nav>

  </div>
</div>
{%endblock%}
